<div class="main">
  <div class="wrapper-border">
    <div class="title">
      <div class="">
        <h1>UPGRADE YOUR PRESIDENT</h1>
        <img class="back" src="https://www.pinclipart.com/picdir/big/343-3434813_free-png-download-back-arrow-icon-png-images.png"
             style=""  alt=""
        routerLink="/selection">
        <!-- <i class="fa-solid fa-up-left back"></i> -->
      </div>
    </div>
    <div class="container-fluid">
      <ng-container>
        <div class="col-md-4 top-section section">
          <span class="card-preview-title">CURRENT VERSION</span>
          <span *ngIf="rarity <= 1"class="card-type">CLASSIC</span>
          <span *ngIf="rarity == 2" class="card-type">SILVER</span>
          <span *ngIf="rarity == 3" class="card-type">GOLD</span>
          <div class="card">
            <img *ngIf="rarity <= 1" src="https://drive.google.com/uc?id={{presidentInfo?.imageBase}}" alt="" />
            <img *ngIf="rarity == 2" src="https://drive.google.com/uc?id={{presidentInfo?.imageSilver}}" alt="" />
            <img *ngIf="rarity == 3" src="https://drive.google.com/uc?id={{presidentInfo?.imageGold}}" alt="" />
            <div class="quantity">
              <span *ngIf="rarity == 1">({{presidentInfo?.holdingBase}}/2)</span>
              <span *ngIf="rarity == 2">({{presidentInfo?.holdingSilver}}/3)</span>
              <span *ngIf="rarity == 3">({{presidentInfo?.holdingGold}}/2)</span>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="big-screen-btn-container">
        <button class="btn-secondary-costum upgrade small-screen-btn" *ngIf="isOptedIn" (click)="upgrade()">UPGRADE</button>
        <button class="btn-secondary-costum upgrade small-screen-btn" *ngIf="!isOptedIn" (click)="optInAsset()">OptIn</button>
        <h3 *ngIf="rarity == 1">Price: 34 Algo</h3>
        <h3 *ngIf="rarity == 2">Price: 89 Algo</h3>
        <h3 *ngIf="rarity == 3">Price: 144 Algo</h3>
        <img class="arrow" src="https://www.pngmagic.com/product_images/arrow-png-icon.png" alt="">
        <!-- <img class="arrow" src="https://www.pngkit.com/png/full/9-93200_arrow-transparent-arrow-transparent.png" alt=""> -->
      </div>
      <ng-container>
        <div class="col-md-4 bot-section section" style="max-height: auto">
          <span class="card-preview-title">UPGRADE PREVIEW</span>
          <span *ngIf="rarity == 1"class="card-type">SILVER</span>
          <span *ngIf="rarity == 2" class="card-type">GOLD</span>
          <span *ngIf="rarity == 3" class="card-type">DIAMOND</span>
          <div class="card">
            <img *ngIf="rarity <= 1" src="https://drive.google.com/uc?id={{presidentInfo?.imageSilver}}" alt="" />
            <img *ngIf="rarity == 2" src="https://drive.google.com/uc?id={{presidentInfo?.imageGold}}" alt="" />
            <img *ngIf="rarity == 3" src="https://drive.google.com/uc?id={{presidentInfo?.imageDiamond}}" alt="" />
          </div>
          <div class="quantity">
            <span *ngIf="rarity == 1">({{presidentInfo?.holdingSilver}}/3)</span>
            <span *ngIf="rarity == 2">({{presidentInfo?.holdingGold}}/2)</span>
            <span *ngIf="rarity == 3">({{presidentInfo?.holdingDiamond}}/1)</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-pop-up [isD]="true"
            (isClosed)="closePopUp($event)"
            *ngIf="closePopup"
            [isDeployedSuccess]="finalStepApi"
            [isDeployedFaied]="isFailed"
            [isDeployedPending]="isPending"
>

</app-pop-up>
