<div class="main">
  <div class="wrapper-border">
    <div class="title">
      <h1>UPGRADE YOUR PRESIDENT</h1>
    </div>
    <div class="container-fluid">
      <ng-container>
        <div class="col-md-3 top-section section">
          <div class="card-version">CURRENT VERSION</div>
          <span class="card-type">CLASSIC</span>
          <div class="card">
            <img src="../../assets/img/president-screenshot.png" alt="" />
            <div class="quantity">
              <span>(1/2)</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-md-3 bot-section section">
          <div class="card-version">UPGRADE PREVIEW</div>
          <span class="card-type">SILVER</span>
          <div class="card">
            <img src="../../assets/img/president-screenshot.png" alt="" />
            <div class="quantity">
              <span>(1/2)</span>
            </div>
          </div>
        </div>
      </ng-container>
      <button class="btn-secondary-costum upgrade">UPGRADE</button>
    </div>
  </div>
</div>
