<div class="main">
  <div class="wrapper-border">
    <div class="title">
      <div class="">
        <h1>UPGRADE YOUR PRESIDENT</h1>
        <img class="back" src="https://www.pinclipart.com/picdir/big/343-3434813_free-png-download-back-arrow-icon-png-images.png"
             style=""  alt=""
        routerLink="/selection">
        <!-- <i class="fa-solid fa-up-left back"></i> -->
      </div>
    </div>
    <div class="container-fluid">
      <ng-container>
        <div class="col-md-4 top-section section">
          <span class="card-preview-title" style="margin-bottom: 15px">CURRENT VERSION</span>
          <span class="card-type">CLASSIC</span>
          <div class="card">
            <img src="../../assets/img/president-screenshot.png" alt="" />
            <div class="quantity">
              <span>(1/2)</span>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="big-screen-btn-container">
        <button class="btn-secondary-costum upgrade small-screen-btn">UPGRADE</button>
        <img class="arrow" src="https://www.pngmagic.com/product_images/arrow-png-icon.png" alt="">
        <!-- <img class="arrow" src="https://www.pngkit.com/png/full/9-93200_arrow-transparent-arrow-transparent.png" alt=""> -->
      </div>
      <ng-container>
        <div class="col-md-4 bot-section section">
          <span class="card-preview-title" style="margin-top: 20px; margin-bottom: 15px">UPGRADE PREVIEW</span>
          <span class="card-type">SILVER</span>
          <div class="card">
            <img src="../../assets/img/president-screenshot.png" alt="" />
            <div class="quantity">
              <span>(1/2)</span>
            </div>
          </div>
        </div>
      </ng-container>
      <button class="btn-secondary-costum upgrade big-screen-btn" style="width: 295px;">UPGRADE</button>
    </div>
  </div>
</div>
