<div class="main">
  <div class="wrapper-border">
    <div class="container-fluid">
      <div class="title">
        <h1>YOUR COLLECTION</h1>
        <span>Select the President you want to Upgrade</span>
      </div>
      <div class="row">
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-md-3">
            <div [routerLink]="['/after-selection']" class="card">
              <img  src="../../assets/img/president-screenshot.png" alt="" />
              <div class="quantity">
                <span>(1/2)</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- div.main{
	div.container-fluid {
		div.row {
			ng-container {

			div.col-md-4 {
				div.card {
					card images
					div.quantity {
						(1/2)
					}
				}

			}
			}
		}
	}
} -->
